<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>paytm merchant payment page</title>
</head>
<body>
<h1>Redirecting you to guglani payment page</h1>
<h1>Please dont refresh your page</h1>
<form action="Staging: https://securegw-stage.paytm.in/order/process" method="post" name="paytm">
    {% for key,value in params_dict.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">

    {% endfor %}
</form>
</body>
<script>
    document.paytm.submit()
</script>
</html>